<h1>Edit Portfolio</h1>

<%= form_for(@portfolio) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<a href="https://website-johnathandiscua.c9users.io/pages/home">Go Home</a>
<a href="https://website-johnathandiscua.c9users.io/portfolios">Portfolio</a>
<a href="https://website-johnathandiscua.c9users.io/portfolios/new">Back</a>